.idea/
.project
.pydevproject
.settings
*.tmp
*.old
*.orig
*.bak
~*
.~lock*
__pycache__/
*.py[cod]
configs.conf
test_project.conf
src/log/*
docs/build/*
docs/compiled
docs/source/_autodoc
docs/source/doc_build_number
supervisord.local.conf
src/web_bb/prepare_env.bat
pip-log.txt
pip-delete-this-directory.txt
.coverage.*
testlink_report.xml
!static/readme.txt
!static/downloads/readme.txt
!static/reports/readme.txt
!static/screenshots/readme.txt
static/*