<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Распределение разработчиков</title>

	<link rel="stylesheet" href="main.css" />
</head>
<body>
	<div class="app">
		<header>
			<h1>Управление спринтами</h1>
		</header>
		<div class="lists">

			<div class="list">
				<h2>Свободные разработчики</h2>
				<div class="list-item" draggable="true">Татьяна Морозова</div>
				<div class="list-item" draggable="true">Евгений Еремин</div>
				<div class="list-item" draggable="true">Сагит Халиуллин</div>
				<div class="list-item" draggable="true">Никита Рыженков</div>
				<div class="list-item" draggable="true">Михаил Репин</div>
				<div class="list-item" draggable="true">Илья Ионкин</div>
				<div class="list-item" draggable="true">Денис Малкин</div>
				<div class="list-item" draggable="true">Нина Капралова</div>
				<div class="list-item" draggable="true">Сергей Воронов</div>
				<div class="list-item" draggable="true">Киров Илья</div>
				<div class="list-item" draggable="true">Артем Южаков</div>
				<div class="list-item" draggable="true">Василий Ефимов</div>
				<div class="list-item" draggable="true">Сергей Новожилов</div>
				<div class="list-item" draggable="true">Борис Бабкин</div>
			</div>
			<div class="list">
				<h2>Инциденты</h2>
			</div>
			<div class="list">
				<h2>Спринт</h2>
			</div>
			<div class="list">
				<h2>Тестирование</h2>
			</div>
			<div class="list">
				<h2>Спецзадачи</h2>
			</div>
			<div class="list">
				<h2>Отстутствуют</h2>
			</div>
		</div>
	</div>
	<script src="main.js"></script>
</body>
</html>
